<div class="container">
  <footer class="footer">
    <small>
      This is to fuck with the footer &copy
    </small>
    <nav>
      <ul>
        <li> <%= link_to "About", about_path %></li>
      </ul>
    </nav>
  </footer>
</div>